// @import "advantages-list.less";
// @import "advantages.less";
// @import "filters-form.less";
// @import "form-ofer.less.less";
// @import "form-ofer.less";
// @import "greeting-banner.less";
// @import "more-advantages.less";
// @import "page-body.less";
// @import "page-footer.less";
// @import "page-header.less";
// @import "page-main.less";
// @import "photo-list.less";
// @import "site-list.less";
// @import "socials.less";
// @import "title-wrapper.less";
// @import "video.less";
// @import "wrapper-copyright.less";

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"),
    url("../fonts/ptsans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2"),
    url("../fonts/ptsansbold.woff");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #ffffff;
}
// Как правильно задать габариты сетки сайта?
.page-body {
  max-width: 320px;
  border: 1px dashed blue;
  margin: 0 auto;
}

.layot-positioner {
  width: 100%;
  padding: 0 6.25%;
  border: 1px dashed orange;
  background-color: rgb(215, 233, 250);
}
