.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
}

.advantages-list__item {
  background-color: #eeeeee;
}

.advantages-list__like-h1 {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.advantages-list__item--blu-background:first-of-type {
  order: -2;
  margin-top: 5px;
  padding-top: 40px;
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center top;
}

.advantages-list__item--order {
  order: -1;
}

.advantages-list__item--blu-background {
  color: #ffffff;
  background-color: @blue;

  & .advantages-list__like-h1 {
    margin-top: 37px;
    margin-bottom: 11px;
    color: #ffffff;
  }

  & .advantages-list__text {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
  }
}

.advantages-list__number {
  margin: 0;
  margin-bottom: 14px;
  text-align: center;
}

.advantages-list__text {
  margin: 0;
  margin-bottom: 28px;
  text-align: center;
}

.advantages-list__text--layout {
  padding-right: 15px;
  padding-left: 15px;
}

.advantages-list__border {
  width: 87.5%;
  margin-right: 6.25%;
  margin-left: 6.25%;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.advantages-list__item:nth-last-child(2) .advantages-list__border {
  border: none;
}

.advantages-list__image {
  display: block;
}
