.filters-form {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    padding: 0 10%;
    padding-bottom: 7px;
  }
}

.filters-form__section {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  border: none;

  @media (min-width: 768px) {
    border-top: 1px solid #dbdbdb;

    & .filters-form__title {
      padding-left: 60px;
      padding-right: 60px;
    }

    &:nth-of-type(1) {
      width: 265px;
      border-top: none;

      & .filters-form__title {
        padding-bottom: 57px;
        padding-left: 0;
        padding-right: 0;

        text-align: left;
      }
    }

    &:nth-of-type(2) {
      width: 100%;

      & .filters-form__title {
        padding-bottom: 24px;
      }
    }

    &:nth-of-type(3) {
      order: -1;

      margin-right: 58px;
      margin-bottom: 53px;
      border-right: 1px solid #dbdbdb;
      border-top: none;

      & .filters-form__title {
        padding-bottom: 73px;
        padding-left: 0;
        padding-right: 0;

        text-align: left;
      }
    }

    &:nth-of-type(4) {
      & .filters-form__title {
        padding-top: 15px;
        margin-bottom: 35px;
      }
    }

    &:nth-of-type(5) {
      width: 100%;
      padding-bottom: 58px;

      & .filters-form__title {
        padding-top: 16px;
        margin-bottom: 39px;
      }
    }
  }

  @media (min-width: 1200px) {
    &:nth-of-type(2) {
      & .filters-form__title {
        margin-bottom: 50px;
      }
    }

    &:nth-of-type(3) {
      flex-grow: 1;

      width: 324px;
      margin-left: 5px;
      margin-right: 50px;
      margin-bottom: 50px;

      & .filters-form__title {
        padding-left: 77px;
      }
    }

    &:nth-of-type(1) {
      flex-grow: 1;
      margin-left: 30px;
    }

    &:nth-of-type(4) {
      width: 100%;
      padding-bottom: 3px;

      & .filters-form__title {
        margin-bottom: 36px;
      }
    }
  }
}

.filters-form__title {
  display: inline-block;

  width: 320px;
  padding-top: 18px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;

  border-top: 1px solid #e5e5e5;

  @media (min-width: 768px) {
    width: auto;

    font-size: 21px;

    border: none;
  }
}

.filters-form__wrapper {
  width: 100%;
  padding: 0 6.25%;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.filters-form__paragraph-name {
  margin: 0;
  display: flex;
  margin-bottom: 20px;
}

.filters-form__title-input {

  width: 100%;
  padding-top: 16px;
  padding-right: 22px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  border: none;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: none;
  }

  &:focus {
    border: none;
    background-color: #ffffff;
    outline-color: #e5e5e5;
  }

  &::placeholder {
    opacity: 1;
    color: #000000;
  }
}

.filters-form__title-label {
  align-self: center;
  justify-self: center;
  padding-right: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.filters-form__paragraph-contacts {
  position: relative;
  margin: 0;

  & .filters-form__title-label {
    display: inline-block;
    padding-left: 22px;
    margin-bottom: 7px;
  }

  & .filters-form__title-input {
    display: inline-block;
    margin-bottom: 13px;
    padding-right: 58px;
  }

  @media (min-width: 768px) {
    margin-bottom: 10px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;

    &:first-of-type {
      margin-right: 79px;
    }

    & .filters-form__title-label {
      padding-left: 0;
    }

    & .filters-form__title-input {
      width: 315px;
    }
  }
}

.filters-form__paragraph-contacts--icon-phone::after {
  content: "";

  position: absolute;
  right: 0%;
  top: 50%;

  margin-top: -19px;
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;

  @media (min-width: 1200px) {
    margin-top: -35px;
  }
}

.filters-form__paragraph-contacts--icon-email::after {
  content: "";

  position: absolute;
  right: 0%;
  top: 50%;

  margin-top: -19px;
  width: 58px;
  height: 58px;

  background-color: #e6e6e6;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  z-index: 1;

  @media (min-width: 1200px) {
    margin-top: -35px;
  }
}

.filters-form__section--contacts {
  padding-bottom: 15px;
}

.filters-form__wrapper--flex-desktop {
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.filters-form__wrapper-radio {
  margin: 0;
  list-style: none;

  width: 100%;
  padding: 0 6.25%;
  padding-top: 15px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-right: 63px;
  }

  @media (min-width: 1200px) {
    padding-right: 0;
    width: 475px;
  }
}

.filters-form__radio-item {
  display: inline-block;
  position: relative;
  padding-left: 79px;
  margin-bottom: 44px;
  user-select: none;

  & label {
    position: relative;
    display: block;
    cursor: pointer;
  }

  &:active label::after {
    opacity: 0.3;
  }

  @media (min-width: 768px) {
    margin-bottom: 52px;
    padding-left: 77px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.filters-form__input-radio {
  & + label::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -79px;

    margin-top: -29px;
    width: 56px;
    height: 56px;

    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &:checked + label::after {
    content: "";

    position: absolute;
    top: 50%;
    left: -62px;

    margin-top: -11px;
    width: 22px;
    height: 22px;

    border-radius: 50%;
    background-color: #333333;
  }

  &:hover + label::before {
    background-color: #e5e5e5;
  }

  &:active + label::before {
    background-color: #d5d5d5;
  }

  &:focus + label::before {
    background-color: #d5d5d5;
  }
}

.filters-form__section--position {
  padding-bottom: 0;
}

.filters-form__wrapper-checkbox {
  margin: 0;
  list-style: none;

  width: 100%;
  padding: 0 6.25%;
  padding-top: 10px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 0;
    padding-left: 14.6%;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
    padding: 0;
  }
}

.filters-form__checkbox-item {
  padding-left: 79px;
  margin-bottom: 54px;
  user-select: none;

  & label {
    position: relative;
    cursor: pointer;
  }

  &:last-of-type {
    margin-bottom: 35px;
  }

  & label::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -80px;

    margin-top: -28px;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &:hover label::before {
    background-color: #e5e5e5;
  }

  &:active label::before {
    background-color: #d5d5d5;
  }

  @media (min-width: 768px) {
    width: 260px;
    margin-bottom: 63px;
  }

  @media (min-width: 1200px) {
    width: auto;
  }
}

.filters-form__input-checkbox {
  &:checked + label::after {
    content: "";

    position: absolute;
    top: 50%;
    left: -63px;

    margin-top: -8px;
    width: 24px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
  }

  &:focus + label::before {
    background-color: #d5d5d5;
  }

  &:active + label::after {
    opacity: 0.3;
  }
}

.filters-form__title--wrapper {
  padding-bottom: 18px;
}

.filters-form__textarea {
  display: block;
  width: 87%;
  min-height: 160px;
  margin: 0 6.25%;
  padding: 17px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    opacity: 1;
    color: #000000;
  }

  &:hover {
    border: none;
    background-color: #e5e5e5;
  }

  &:focus {
    border: none;
    background-color: #ffffff;
    outline-color: #e5e5e5;
  }

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.filters-form__button {
  display: flex;
  justify-content: center;

  margin-top: 45px;
  margin-bottom: 37px;
  margin-left: 6.25%;
  margin-right: 6.25%;

  font-family: inherit;
  text-transform: uppercase;
  border: none;

  @media (min-width: 768px) {
    width: 50%;
    margin: 0;
    margin-bottom: 60px;
  }
}

.filters-form__information {
  display: none;
  margin: 0;

  @media (min-width: 768px) {
    display: block;
    margin-top: 19px;

    line-height: 26px;
    text-transform: uppercase;
  }
}

.filters-form__contacts {
  @media (min-width: 1200px) {
    display: none;
  }
}
