.form-ofer__like-h1 {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 19px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.form-ofer__like-h1--photo {
  margin-top: 29px;
  margin-bottom: 27px;

  font-size: 18px;
}

.form-ofer__text {
  margin: 0;
  margin-bottom: 35px;
  padding-right: 5px;
  padding-left: 5px;

  line-height: 24px;
  text-align: center;

  & br {
    display: none;
  }

  @media (min-width: 768px) {
    & br {
      display: inline;
    }
  }
}

.form-ofer__button {
  margin-bottom: 49px;

  @media (min-width: 768px) {
    width: 100%;
  }
}

.form-ofer {
  & .layot-positioner {
    text-transform: uppercase;
  }

  @media (min-width: 768px) {
    & .layot-positioner--768px {
      width: 100%;
      padding-left: 20.2%;
      padding-right: 20.2%;
    } //не знаю как сделать перенос текста в блоке (form ofer) для текста (form-ofer__text)
  }
}
