.greeting-banner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-image: url("../img/bg-intro-triangle-mobile.svg"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom,
    50% 0%;
}

.greeting-banner__item-text {
  align-self: center;
  margin-top: 90px;
  margin-bottom: 85px;
}

.greeting-banner__item-text--layout {
  align-self: center;
  margin-top: 52px;
  margin-bottom: 66px;
}

.greeting-banner--position {
  background-position: center bottom,
    50% 100%;
}
