.more-advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.more-advantages__wrapper {
  position: relative;
  width: 100%;
  padding-left: 21.875%;
  padding-right: 12.5%;
}

.more-advantages__like-h1--image-hous {
  &::before {
    content: "";
    position: absolute;
    left: 20px;

    width: 37px;
    height: 36px;
    background-image: url();
  }
}

.more-advantages__like-h1--image-souvenirs {
  &::before {
    content: "";
    position: absolute;
    left: 20px;

    width: 32px;
    height: 37px;
    background-image: url();
  }
}

.more-advantages__like-h1 {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.more-advantages__text {
  margin: 0;
}

.more-advantages__item:first-of-type {
  padding-top: 7px;
}

.more-advantages__item:last-of-type {
  padding-bottom: 37px;
}
