.page-body {
  margin: 0 auto;
  padding: 0;

  max-width: 320px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
  color: #333333;
}
