.page-header__wrapper {
  position: relative;
  margin-top: -1px;
  min-height: 56px;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  top: -1px;
  margin-left: -51px;
}

.page-header__menu-toggle {
  position: absolute;
  font-size: 0px;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}
