.photo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.photo-list__title {
  margin: 0;
  margin-top: 9px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.photo-list__autor {
  margin: 0;
  margin-bottom: 7px;
  line-height: 24px;
}

.photo-list__item {
  border-bottom: 1px solid #e5e5e5;

  &:first-of-type {
    border-top: 1px solid #e5e5e5;
  }
}

.photo-list__image {
  margin-top: 23px;
}

.photo-list__button-like {
  height: 22px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
}

.photo-list__number {
  padding-left: 29px;
  vertical-align: middle;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
