.site-list {
  margin: 0;
  padding: 0;

  list-style: none;
  text-transform: uppercase;

  background-color: @blue;

  &--close {
    display: none;
  }

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    min-height: 56px;

    background: #ffffff;
  }
}

.site-list__item {
  & a {
    display: block;
    margin-bottom: 1px;
    padding: 7px 20px;

    font-size: 18px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: #ffffff;

    background-color: @blue;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    user-select: none;

    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &:last-of-type a {
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.3);
  }

  & a:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: 768px) {
    width: 20%;

    &:nth-of-type(4n+2) {
      margin-right: 20%;
    }

    & a {
      min-height: 56px;

      margin: 0;

      font-size: 14px;
      line-height: 26px;
      color: #000000;
      background-color: #ffffff;
      box-shadow: none;
      border: none;
    }

    &:last-of-type a {
      box-shadow: none;
    }

    & a:hover {
      background-color: #ffffff;
      color: #81b3d2;
    }

    & a:active {
      background-color: #ffffff;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
