.socials__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socials__item {
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-top: 3px;

  background-color: @blue;
  cursor: pointer;

  &:hover {
    background-color: @blue-hover;
  }

  &:active {
    background-color: @blue-down;
    color: rgba(255, 255, 255, 0.3);
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 5;

  &:active .socials__icon {
    fill: rgba(255, 255, 255, 0.2);
  }
}

.socials__icon {
  fill: #ffffff;
}

.socials--indent {
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-left: -10px;
    padding-top: 32px;
    padding-bottom: 33px;
  }
}

@media (min-width: 768px) {
  .socials {
    align-self: center;
  }
}
