.title-wrapper {
  text-transform: uppercase;

  @media (min-width: 768px) {
    border: 1px solid transparent;
  }

  @media (min-width: 1200px) {
    padding-left: 28%;
    padding-right: 28%;
  }
}

.title-wrapper__title {
  margin: 0;
  padding: 0;
  margin-top: 41px;
  margin-bottom: 27px;
  padding-left: 12px;
  padding-right: 12px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;

  @media (min-width: 768px) {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 28px;
    padding-left: 14.75%; //минус паддинги layot-positioner 6.25%
    padding-right: 14.75%;

    font-size: 21px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}

.title-wrapper__title--photo {
  margin-top: 39px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 32px;

    font-size: 30px;
  }

  @media (min-width: 1200px) {
    margin-top: 109px;
    margin-bottom: 31px;
  }
}

.title-wrapper__title--form {
  margin-top: 39px;
  margin-bottom: 26px;
}

.title-wrapper__subtitle {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: center;
}

.title-wrapper__subtitle--main {
  line-height: 26px;

  @media (min-width: 768px) {
    margin-bottom: 49px;
  }
}

.title-wrapper__subtitle--photo {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 27px;

  @media (min-width: 768px) {
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 67px;
  }

  @media (min-width: 1200px) {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 70px;
  }
}

.title-wrapper__subtitle--form {
  margin-bottom: 17px;
}
