.wrapper-copyright {
  display: flex;
  justify-content: center;

  line-height: 26px;
  text-align: center;
}

.wrapper-copyright__text {
  align-self: center;

  display: inline-block;
  margin: 0;
  margin-right: 11px;
}

.wrapper-copyright__academy-logo {
  display: inline-block;
  width: 27px;
  height: 34px;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    align-self: center;
  }
}
